<% include partials/header.ejs %>

<h1>Single Blog Post</h1>

<div class="ui huge header"><%= blog.title %></div>
<div class="ui top attached">
	<div class="item">
		<img src="<%= blog.image %>" alt="Image" class="ui centered rounded image">
		<div class="content">
			<span class="created"><%= blog.created.toDateString(); %></span>
			<div class="description">
				<p><%- blog.body %></p>
			</div>
		</div>
	</div>
	<a href="/blogs/<%= blog._id %>/edit" class="ui big blue button">Edit Blog Post</a>
	<form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" id="deleteForm">
		<input type="submit" class="ui big inverted red button" id="deleteButton" value="Delete Blog Post">
	</form>
</div>

<% include partials/footer.ejs %>