<% include partials/header %>

	<h1>Single Campground Page</h1>

	<div class="singlePage">
		<div class="header">
			<p class="title">Campground Name: <%= campground.name %></p>
			<div class="likes">
				<button id="likeButton"><%= campground.likes %></button>
			</div>
		</div>
		<img src="<%= campground.image %>" alt="Campground Image">
		<p class="description_title">Description:</p>
		<p class="description"><%= campground.description %></p>
		<% 
			campground.comments.forEach((comment)=>{
		%>
			<p class="comment">
				<%= comment.text %> - BY: <%= comment.author %>-
			</p>
		<% 
			})
		%>
	</div>

	<div>
		<a href="/campgrounds" class="button">Back to all Campgrounds</a>
	</div>

<% include partials/footer %>